*.pdf
*.aux
*.log
*.ind
*.listing
*.toc
*.synctex.gz
**_minted/**
*.idx
*.toc
*.out
*.ilg
_minted/_FAD58DE7366495DB4650CFEFAC2FCD61.index.minted
_minted
svg-inkscape/rustacean-flat-gesture_svg-tex.pdf_tex
ssh.txt
ssh.txt.pub
